SUPABASE_URL=https://ztdovfpjnbwsuesadsge.supabase.co/rest/v1/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp0ZG92ZnBqbmJ3c3Vlc2Fkc2dlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyNDE2MTUsImV4cCI6MjA5NDgxNzYxNX0.S6THwUAQufHP4vVJBL57vZcq0CTusJyODmmShR4TCDc
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_kygaauDw1K3MYeQ2O-tP0w_JneWmKOZ
